body{
   text-align: center;
   font-family: sans-serif;
}

div.layaout_p{
    border: 3px solid orangered;
    min-height: 400px;
    width: 80%;
    margin: 0px auto;
}

header{
    background-color: brown;
}

div.menu{
    background-color: yellow;
}

div.contenido{
    background-color: purple;
}

div.aside{
    background-color: orangered;
}

footer{
    background-color: pink;
}




/*Otro contenido*/

.layout_p .box{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border: 4px solid #222;
    margin: 10px;  
}





.layout{
    border: 3px solid orangered;
    min-height: 400px;
    width: 90%;
    margin: 0px auto;

    padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr;
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background-color: gray;  
}

.layout .red{
    background: red;
    grid-column: 1/4;
}

.layout .green{
    background: green;
    grid-row: 2/5;
}

.layout .blue{
    background: blue;
    grid-column: 4/2;
}

.layout .pink{
    background: pink;
    grid-column: 2/3;
}

.layout .orange{
    background: orange;
}

.layout .brown{
    background: brown;
    grid-column: 2/4;
}