body{
   text-align: center;
   font-family: sans-serif;
}

.layout{
    border: 3px solid orangered;
    width: 1200px;
    margin: 0px auto;

    padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background-color: gray;  
}

.layout .red{
    background: red;
}

.layout .green{
    background: green;
}

.layout .blue{
    background: blue;
}

.layout .pink{
    background: pink;
}